/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0cad;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #0c0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#search {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #ccc;
    border-radius: 4px;
    transition: 0.5s;
    outline: none;
    background-color: #3c3a3a;
    color: #ffffff;
}

#search:focus{
    border: solid #0f0cad 3px ;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3c3a3a;
}

td:hover {
    background-color: #f1f1f1;
    color: #0c0a0a;
    transition: 0.5s;
}
